@model Passcode

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Hello!</title>
</head>

<body>
    <h3>Random passcode</h3>
    <form action="/password" method="get">
        <p></p>
        <p>Number of times clicked: </p>
        <input value="generate" type="Submit">
    </form>
</body>

</html>



<!-- show the code that is generated when button is clicked. Also show times clicked.    -->