@model Passcode
@{
    ViewBag.Title = "ClickCounter";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Hello!</title>
</head>

<body>
    <h3>@View</h3>

</body>

</html>



<!-- show the code that is generated when button is clicked. Also show times clicked.    -->